/* This will load Tailwindcss + all the overwrite from Yearn lib */
@import '@yearn-finance/web-lib/dist/style.next.css';
@import	'./public/fonts/fonts.css';


:root,
:root body[data-theme="light"] {
	--default-rounded: 0rem;
	font-family: 'Aeonik', sans-serif;
}

:focus {
    outline-width: 0px;
    outline-offset: 0px;
	outline: none;
    outline-color: transparent;
}

* {@apply font-aeonik;}
body {@apply text-neutral-900;}

#nprogress .bar {@apply bg-neutral-900}
#nprogress .spinner-icon {@apply hidden}

:root,
:root body[data-theme="light"] {
	& .yearn--button {
		@apply px-5 h-10;

		&[data-variant="filled"] {
			@apply text-neutral-0 bg-neutral-900 font-normal;
			&:disabled {@apply bg-neutral-700 opacity-40;}
			&:not(:disabled):not([aria-busy="true"]):hover {@apply bg-neutral-800;}
		}
	}

	& .yearn--input {
		@apply space-y-1;
		& .yearn--input-field-wrapper {
			@apply border border-neutral-600 p-2 text-base text-neutral-900 h-10;
		}

		& .yearn--input-field {
			@apply text-base text-neutral-900 font-normal;
		}
	}

	& .yearn--modal-overlay {
		@apply bg-neutral-900/90;
	}

	& .yearn--card {
		&[data-variant="background"] {@apply bg-neutral-100;}
		&[data-padding="relaxed"] {@apply p-8;}
	}

}

.yveCRV--nav-link {
	@apply relative cursor-pointer transition-colors text-neutral-500 hover:text-neutral-900 font-normal;
	
	&.active {
		@apply text-neutral-900 font-bold;
	}
}
.yveCRV--input {
	@apply space-y-1;
	& .yearn--input-field-wrapper {
		@apply border border-neutral-600/0 bg-neutral-0 p-2 text-base text-neutral-900 font-bold h-10;
	}

	& .yearn--input-field {
		@apply text-base text-neutral-900 font-normal;
	}
}
.yveCRV--input-alt {
	@apply space-y-1;
	& .yearn--input-field-wrapper {
		@apply border border-neutral-600/0 bg-neutral-200 p-2 text-base text-neutral-900 h-10;
	}

	& .yearn--input-field {
		@apply text-base text-neutral-900 font-normal;
	}
}
.yveCRV--dropdown-menu {
	--dropdown-bg-color: hsl(var(--color-neutral-300));
	--dropdown-bg-color-active: hsl(var(--color-neutral-600));
	--dropdown-border-width: 0px;
	--dropdown-border-color: transparent;

	@apply flex overflow-y-auto absolute left-0 flex-col mt-1 w-full min-w-fit max-h-60 scrollbar-none text-neutral-400 border border-neutral-600 bg-neutral-200;
}
.yveCRV--dropdown-menu-item {
	@apply flex flex-row items-center cursor-pointer py-2 pr-4 pl-3 transition-colors;
	&[data-active="true"] {
		@apply bg-neutral-100;
	}
}

.yveCRV--zap-modal ~ .yearn--modal-wrapper {
	@apply sm:max-w-md;
}
.yveCRV--zap-modal ~ .yearn--modal {
	@apply sm:max-w-md;
}

.animate-pulse-half {
	animation-delay: 1s !important;
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}



.mobile-nav-item {
	@apply flex flex-col items-start justify-between rounded bg-good-ol-grey-100;
	& > p {
		@apply p-2 text-base font-bold text-neutral-900;
	}
}










.text {
  width: 450px;
  height: 40px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
	@apply absolute text-neutral-900 font-bold text-8xl uppercase text-center flex justify-center items-center;
	width: 600px;
	opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
